appdirs==1.4.3
beautifulsoup4==4.12.3
charset-normalizer==3.3.2
Click==7.0
docutils==0.20.1
idna==3.6
lockfile==0.12.2
luigi==2.8.2
python-daemon==2.1.2
pywatchman==1.4.1
requests==2.31.0
soupsieve==2.5
spawn==0.3.0
tornado==4.5.3
urllib3==2.2.0
