@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.boilerRed {
  color: #a80031;
}

.boilerPink {
  color: #f3567c;
}

.boilerRed-bg {
  background-color: #a80031;
}

.boilerPurple {
  color: #d4bfff;
}

.boilerPurple-bg {
  background-color: #d4bfff;
}

/*overrides default .btn border color with new color */
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #f3567c !important;
}

/*overrides default .btn border color with new color */
.btn-primary:hover {
  background-color: #cf4969 !important;
}

/*overrides default .btn border color with new color */
.btn {
  border-color: #f3567c !important;
}

.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary:visited {
  /*background-color: #f3567c !important;
  color: white !important;*/
  color: black !important;
}

/*overrides default .btn border color with new color */
.btn-outline-primary:hover {
  /*background-color: #cf4969 !important;*/
  background-color: #f3567c !important;
  color: white !important;
}

.border,
.border-primary {
  color: #f3567c;
  border-color: #f3567c;
}
