#filtercontainer {
  min-height: 100vh;
  overflow: auto;
}

.interestOptions {
  background: var(--surface-card);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
}

.gendertxt {
  position: relative;
  padding-top: 14px;
  padding-right: 20px;
  font-weight: bold;
  padding-left: 15px;
}

.heighttxt {
  position: relative;
  padding-top: 2px;
  text-align: center;
}

.agetxt {
  position: relative;
  text-align: center;
  padding-top: 2px;
}

.heightRange {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ageRange {
  position: relative;
  padding-top: 10px;
}

.drinking {
  align-content: center;
}

.lifetxt {
  padding-top: 8px;
  padding-left: 15px;
  font-weight: bold;
}

.lifetitle {
  padding-top: 10px;
  font-weight: bolder;
}

.pets {
  margin-right: 26px !important;
}

.drink {
  margin-right: 71.3px !important;
}

.smoke {
  margin-right: 62.5px !important;
}

.workout {
  margin-right: 167px !important;
}

.diet {
  margin-right: 37.7px !important;
}

.social {
  margin-right: 148.5px !important;
}

.sleep {
  margin-right: 293px !important;
}

.p-multiselect-item {
  background-color: pink;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
