/* InterestsPage.css */
.container {
    max-width: 500px;
    margin: 0 auto;
  }

  .header-text {
    font-family: Arial, sans-serif; /* Set font family for header text */
    font-weight: 600;
    font-size: 32px; 
    padding-top: 5px;
    
  }

  .subheader-text {
    font-family: Arial, sans-serif; /* Set font family for header text */
    font-weight: 300;
    font-size: 19px; 
    padding-top: 15px;
  }

  
  .subsubheader-text {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 14.5px; 
    padding-top: 0px;
    margin-bottom: -5px;
  }

  .selected-container {
    padding-bottom: -5px;
   margin-bottom: 5px;
    margin-top: 5px;
 
  }

  .content {
    white-space: pre-wrap;
  }
  
  .relationship {
    font-family: Arial, sans-serif;
    font-weight: 540;
    font-size: 25px; 
    margin-bottom: -5px;
    margin-top: -5px;
  }
  
  .height {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px; 
    
    margin-top: -5px;
    margin-bottom: 8px; 
  }
  
  .interests {
    color: #515558; 
    padding: 6px 1px; 
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    font-size: 14px; 
    font-weight: normal; 
    border: 1px solid #82868a; 
    transition: border-color 0.3s; 
  }
 

  