/* InterestsPage.css */
.container {
    max-width: 600px;
    margin: 0 auto;
  }

  .header-text {
    font-family: Arial, sans-serif; /* Set font family for header text */
    font-weight: 600;
    font-size: 32px; 
    padding-top: 20px;
  }


  .subheader-text {
    font-family: Arial, sans-serif; /* Set font family for header text */
    font-weight: 300;
    font-size: 18px; 
    padding-top: 15px;
  }

  .selected-container {
    margin-bottom: 5px;
    margin-top: 5px;
    border-bottom: 1.3px solid #9e9b9b;
  }
  
  .content {
    padding-top: 5px; 
    margin-top: 5px;
    text-align: left;
  }
  
  .relationship {
    font-family: Arial, sans-serif;
    font-weight: 540;
    font-size: 25px; 
    margin-bottom: -5px;
    margin-top: -5px;
  }
  .height {
    font-family: Arial, sans-serif;
   
    margin-bottom: -5px;
    margin-top: -5px;
  }
  .interests {
    color: #515558; 
    padding: 6px 1px; 
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    font-size: 14px; 
    font-weight: normal; 
    border: 1px solid #82868a; 
    transition: border-color 0.3s; 
  }

  