.filter {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 400px;
  padding: 20px;
  max-width: 85vw;
  height: 50vh;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.card h3 {
  color: #fff;
  position: absolute;
  bottom: 0;
  margin: 10px;
}

.tinderCard_container {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.swipe {
  position: absolute;
}

.swipeButton {
  position: fixed;
  bottom: 280px;
  display: flex;
  justify-content: center;
  gap: 90px;
  width: 100%;
}

.arrowButton {
  position: fixed;
  top: 5px;
  right: 9px;
 
    z-index: 1000; /* Adjust the value as needed */
  
}
.main_text {
  position: fixed;
  
left: 10px;
 
    z-index: 1000;
}

.close_button {
  margin: 50 50px;
  font-size: "large";
}

.favorite_button {
  margin: 50 50px;
  font-size: "large";
}

.message {
  position: fixed;
  bottom: 200px;
}

.mb-4 {
  position: fixed;
  bottom: 100px;
}