.card{
    position:relative;
    width: 400px;
    padding: 20px;
    max-width: 85vw;
    height:50vh;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    }
    
    .card h3{
      color: #fff;
      position: absolute;
      bottom: 0;
      margin: 10px;
    }
    
    .tinderCard_container{
      display: flex;
      justify-content: center;
      margin-top: 10vh;
    }
    
    .swipe{
      position: absolute;
    }
    .swipeButton{
        position: fixed;
        bottom: 10vh;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
      }